# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.3
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    
    - name: Print Maven Version
      run: mvn --version
      
    - name: Activate Cache for Maven Downloads
      uses: actions/cache@v2
      env:
        cache-name: cache-maven-modules
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Prepare Build Versions
      shell: bash
      env:
        revision: 2.0.0-M2.20201011-0401-e11740f5
      run: |
        mv pom.xml pom.xml~
        mv pom-ci.xml pom.xml
        mvn versions:update-parent -DallowSnapshots=true -DparentVersion=${{ env.revision }}
        
    - name: Print pom.xml
      shell: bash
      run: |
        cat pom.xml
    
    - name: Build with Maven
      shell: bash
      run: |
        mvn install
